{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <div class="login-page">
        <div class="container mt-5 d-flex justify-content-center" id="main-container">
            <div class="card p-4" style="width: 400px;">
                <form action="{{ url_for('login') }}" method="post">
                    <div class="mb-4">
                        <input autocomplete="off" autofocus class="form-control" name="email" placeholder="Email" type="email" required>
                    </div>
                    <div class="mb-4">
                        <input class="form-control" name="password" placeholder="Password" type="password" required>
                    </div>
                    <div class="d-grid">
                        <!-- Login Button -->
                        <button class="btn btn-primary mb-2" type="submit">Login</button>
                    </div>
                </form>
                <div class="text-center">
                    <!-- Register Link -->
                    <p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a></p>
                    <!-- Forgot Password Link -->
                    <p>Forgot your password? <a href="{{ url_for('forget') }}">Reset it here</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}