{% extends "layout.html" %}

{% block title %}Register{% endblock %}

{% block main %}
    <div class="login-page">
        <div class="container mt-5 d-flex justify-content-center" id="main-container">
            <div class="card p-4" style="width: 400px;">
                <form action="{{ url_for('register') }}" method="post">
                    
                    <div class="mb-4">
                        <input autocomplete="off" autofocus class="form-control" name="user" placeholder="Username" type="text" required>
                    </div>
                    <div class="mb-4">
                        <input autocomplete="off" autofocus class="form-control" name="email" placeholder="Email" type="email" required>
                    </div>

                    <div class="mb-4">
                        <input class="form-control" name="password" placeholder="Password" type="password" required>
                    </div>

                    <div class="mb-4">
                        <input class="form-control" name="passagain" placeholder="Confirm Password" type="password" required>
                    </div>

                    <div class="d-grid">
                        <!-- Register Button -->
                        <button class="btn btn-primary mb-2" type="submit">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}